@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(rgb(48, 48, 48), gray);
  color: white;
}


.mainContainer {
  display: flex;
  flex-wrap: wrap;
}

.drink {
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px;
  border-color: white;
  border-style:solid;
  margin: 10px;
  background-color: darkgray;
  z-index: 1;
}

.drinkdetail {
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px;
  border-color: white;
  border-style:solid;
  margin: 10px;
  background-color: darkgray;
  z-index: 1;
}

.drink:hover {
  transition: 0.5s;
  transform: scale(1.1);
  z-index: 2;
}

.drink p{
  text-align: center;
}

.drinkimage {
  height:300px
}


ul {
  list-style-type: none;
  
}

a {
  color: white;
  text-decoration: none;
}

#title {
  display:flex;
  justify-content: center;
  align-items:center;
  font-size: 100px;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
 
}


#nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background: whitesmoke;
  border-radius: 20px;
}
button {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #b9a5a5;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;

  margin: 10px;
 }
 
 button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 button:hover {
  color: #e8e8e8;
 }
 
 button:hover::before {
  width: 100%;
 }

.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

input {
  height: 40px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 15px;
  padding: 5px 5px;
  margin: 10px;
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
}