@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
}


.mainContainer {
  display: flex;
  flex-wrap: wrap;
}

.drink {
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px;
  border-color: black;
  border-style:solid;
  margin: 10px;
}

.drink p{
  text-align: center;
}

.drinkimage {
  height:300px
}